<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FERRUM</title>
    <!-- base:css -->
    <link rel="stylesheet" href="/template/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="/template/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/template/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="shortcut icon" href="/template/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-sm-6" id="tituloinicial">
                            <h3 class="mb-0 font-weight-bold">Recuperar Contraseña</h3>
                        </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <form action="contact.php" method="post">
                        <div class="row">
                            <div class="col-sm">

                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nueva Contraseña</label>
                                    <input type="password" class="form-control" id="exampleFormControlInput1"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Confirmar Contraseña</label>
                                    <input type="password" class="form-control" id="exampleFormControlInput1"
                                        placeholder="">
                                </div>
                                <div class="parbotones">
                                    <a class="btn btn-primary btn-lg active" data-toggle="modal"
                                        data-target="#exampleModalCenter" id="botons" role="button"
                                        aria-pressed="true">Cambiar Contraseña</a>
                                </div>
                            </div>
                            <div class="col-sm">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¡Su contraseña se ha actualizado correctamente!
                        </div>
                        <div class="modal-footer">
                            <a href="/template/pages/acceso/login.html"><button type="button" class="btn btn-primary">
                                    Iniciar Sesión</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-center text-sm-left d-block d-sm-inline-block">Propiedad de FERRUM ©<a href="#"></a>
                2020</span>
        </div>
    </footer>
    <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="/template/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/template/js/off-canvas.js"></script>
    <script src="/template/js/hoverable-collapse.js"></script>
    <script src="/template/js/template.js"></script>
    <script src="/template/js/settings.js"></script>
    <script src="/template/js/todolist.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="/template/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/template/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="/template/js/dashboard.js"></script>
    <!-- End custom js for this page-->
</body>

</html>